<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://billoneexactapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cc5ed385-59d1-4caf-8a5b-2632a03e825e/resourceGroups/TRK-EJP-KEIRI-RG/providers/Microsoft.Web/sites/billoneexactapi</ResourceId>
    <UserName>$billoneexactapi</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://billoneexactapi.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>